USE [MoneyManager]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 20/5/2026 2:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[BudgetID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[WalletID] [int] NULL,
	[CategoryID] [int] NOT NULL,
	[AmountLimit] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20/5/2026 2:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 20/5/2026 2:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[WalletID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[TransactionDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/5/2026 2:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 20/5/2026 2:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[WalletID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[WalletName] [nvarchar](50) NOT NULL,
	[Balance] [decimal](19, 0) NULL,
	[Currency] [nvarchar](10) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [Type], [CreatedDate]) VALUES (1, 2, N'Salary', N'Thu', CAST(N'2024-12-11T17:32:58.560' AS DateTime))
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [Type], [CreatedDate]) VALUES (2, 2, N'Food', N'Chi', CAST(N'2024-12-11T17:32:58.560' AS DateTime))
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryName], [Type], [CreatedDate]) VALUES (3, 2, N'Entertainment', N'Chi', CAST(N'2024-12-11T17:32:58.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [WalletID], [CategoryID], [TransactionDate], [Amount], [Description]) VALUES (14, 7, 2, CAST(N'2026-05-17T15:54:12.390' AS DateTime), CAST(120000.00 AS Decimal(18, 2)), N'Rau, trứng, cá,...')
INSERT [dbo].[Transactions] ([TransactionID], [WalletID], [CategoryID], [TransactionDate], [Amount], [Description]) VALUES (15, 7, 2, CAST(N'2026-05-18T15:55:18.390' AS DateTime), CAST(90000.00 AS Decimal(18, 2)), N'Sữa và ngũ cốc')
INSERT [dbo].[Transactions] ([TransactionID], [WalletID], [CategoryID], [TransactionDate], [Amount], [Description]) VALUES (16, 7, 2, CAST(N'2026-05-15T15:56:15.977' AS DateTime), CAST(200000.00 AS Decimal(18, 2)), N'200g thịt bò')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [CreatedDate]) VALUES (2, N'jane_smith', N'hash_password_456', N'Jane Smith', N'jane.smith@example.com', CAST(N'2024-12-11T17:32:58.553' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [CreatedDate]) VALUES (7, N'tri', N'$2a$11$i53iKqFNgai00Ty.Wrnk4.nOnsxNGlj3nIySivLcoPivuweYWWBl2', N'minhtri', N'tri@example.com', CAST(N'2024-12-11T20:34:20.880' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [CreatedDate]) VALUES (12, N'phuong', N'$2a$11$XlGoqL3kkbBaQq.cw2hI6uae9lQNHQ7kJh1RfVx9F3YZE8Q.baxuK', N'minhphuong', N'phuong@example.com', CAST(N'2024-12-11T20:45:16.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([WalletID], [UserID], [WalletName], [Balance], [Currency], [CreatedDate]) VALUES (3, 15, N'Poor Wallet', CAST(106000 AS Decimal(19, 0)), N'VND', CAST(N'2024-12-11T17:32:58.557' AS DateTime))
INSERT [dbo].[Wallets] ([WalletID], [UserID], [WalletName], [Balance], [Currency], [CreatedDate]) VALUES (7, 14, N'Ví đi chợ', CAST(90000 AS Decimal(19, 0)), N'VND', CAST(N'2026-05-19T15:53:21.440' AS DateTime))
INSERT [dbo].[Wallets] ([WalletID], [UserID], [WalletName], [Balance], [Currency], [CreatedDate]) VALUES (8, 14, N'Ví giao thông', CAST(750000 AS Decimal(19, 0)), N'VND', CAST(N'2026-05-19T15:56:40.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40402ECB8]    Script Date: 20/5/2026 2:46:37 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105347B168C8F]    Script Date: 20/5/2026 2:46:37 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallets] ([WalletID])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallets] ([WalletID])
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
